a(href="/") Brary 
    ul 
        li
            a(href="/authors") Author 
        li
            a(href="/authors/add") Add Author
        li 
            a(href="/books") Books
        li
            a(href="/books/add") Add Book